# Server Config
PORT=5000 # For Example 

# Rcon Config
HOST_RCON=localhost # For Example 
PORT_RCON=25575 # For Example 
PASSWORD_RCON=passowrd # For Example 
BUFFER_RCON=3000 # For Example 

# Mysql Config
HOST_MYSQL=localhost # For Example 
USER_MYSQL=root # For Example 
USER_PASSWORD= # For Example 
DATABASE_MYSQL=webshop_minecraft # For Example 

# SECRET ACCESS TOKEN
JWT_SECRET=1234 # For Example 