# Server Config
PORT=5000

# Rcon Config
HOST_RCON=localhost
PORT_RCON=25575
PASSWORD_RCON=passowrd
BUFFER_RCON=3000

# Mysql Config
HOST_MYSQL=localhost
USER_MYSQL=root
USER_PASSWORD=
DATABASE_MYSQL=webshop_minecraft

# SECRET ACCESS TOKEN
JWT_SECRET=1234

# PropmptPay
# MOBILE FORMAT = 000-000-0000
# ID CARD FORMAT = 0-0000-00000-00-0
PHONE_OR_IDCARD=012-345-7890